################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/EGestion360.slnx/FileContentIndex/fc6f540a-6c6c-4429-b00f-f0491ec0dc29.vsidx
/.vs/ProjectEvaluation
/.vs/EGestion360.slnx/FileContentIndex
/.vs/EGestion360.slnx/DesignTimeBuild
bin/ 
obj/ 
/BackEnd/EG.Business/obj/Debug/net10.0/ref/EG.Business.dll
/BackEnd/EG.Business/obj/Debug/net10.0/refint/EG.Business.dll
/BackEnd/EG.Business/bin/Debug/net10.0/EG.Application.dll
/BackEnd/EG.Business/bin/Debug/net10.0/EG.Application.pdb
/BackEnd/EG.Business/bin/Debug/net10.0/EG.Business.dll
/BackEnd/EG.Business/bin/Debug/net10.0/EG.Business.pdb
/BackEnd/EG.Business/bin/Debug/net10.0/EG.Domain.dll
/BackEnd/EG.Business/bin/Debug/net10.0/EG.Domain.pdb
/BackEnd/EG.ApiCore/bin/Debug/net10.0/EG.ApiCore.dll
/BackEnd/EG.ApiCore/bin/Debug/net10.0/EG.ApiCore.exe
/BackEnd/EG.ApiCore/bin/Debug/net10.0/EG.ApiCore.pdb
/BackEnd/EG.ApiCore/bin/Debug/net10.0/EG.Application.dll
/BackEnd/EG.ApiCore/bin/Debug/net10.0/EG.Application.pdb
/BackEnd/EG.ApiCore/bin/Debug/net10.0/EG.Business.dll
/BackEnd/EG.ApiCore/bin/Debug/net10.0/EG.Business.pdb
/BackEnd/EG.ApiCore/bin/Debug/net10.0/EG.Domain.dll
/BackEnd/EG.ApiCore/bin/Debug/net10.0/EG.Domain.pdb
/BackEnd/EG.ApiCore/bin/Debug/net10.0/EG.Infraestructure.dll
/BackEnd/EG.ApiCore/bin/Debug/net10.0/EG.Infraestructure.pdb
/BackEnd/EG.ApiCore/obj/Debug/net10.0/ref/EG.ApiCore.dll
/BackEnd/EG.ApiCore/obj/Debug/net10.0/refint/EG.ApiCore.dll
/BackEnd/EG.ApiCore/obj/Debug/net10.0/apphost.exe
/BackEnd/EG.ApiCore/obj/Debug/net10.0/EG.ApiCore.AssemblyInfo.cs
/BackEnd/EG.ApiCore/obj/Debug/net10.0/EG.ApiCore.AssemblyInfoInputs.cache
/BackEnd/EG.ApiCore/obj/Debug/net10.0/EG.ApiCore.csproj.AssemblyReference.cache
/BackEnd/EG.ApiCore/obj/Debug/net10.0/EG.ApiCore.dll
/BackEnd/EG.ApiCore/obj/Debug/net10.0/EG.ApiCore.pdb
/BackEnd/EG.ApiCore/obj/Debug/net10.0/EG.ApiCore.sourcelink.json
/BackEnd/EG.ApiCore/obj/Debug/net10.0/rjsmcshtml.dswa.cache.json
/BackEnd/EG.ApiCore/obj/Debug/net10.0/rjsmrazor.dswa.cache.json
/BackEnd/EG.Application/obj/Debug/net10.0/ref/EG.Application.dll
/BackEnd/EG.Application/obj/Debug/net10.0/refint/EG.Application.dll
/BackEnd/EG.Application/obj/Debug/net10.0/EG.Application.AssemblyInfo.cs
/BackEnd/EG.Application/obj/Debug/net10.0/EG.Application.AssemblyInfoInputs.cache
/BackEnd/EG.Application/obj/Debug/net10.0/EG.Application.csproj.AssemblyReference.cache
/BackEnd/EG.Application/obj/Debug/net10.0/EG.Application.dll
/BackEnd/EG.Application/obj/Debug/net10.0/EG.Application.pdb
/BackEnd/EG.Application/obj/Debug/net10.0/EG.Application.sourcelink.json
/FrontEnd/EG.Web/obj/Debug/net10.0/EG.Web.AssemblyInfo.cs
/FrontEnd/EG.Web/obj/Debug/net10.0/EG.Web.AssemblyInfoInputs.cache
/FrontEnd/EG.Web/obj/Debug/net10.0/EG.Web.sourcelink.json
/FrontEnd/EG.Web/obj/Debug/net10.0/rpswa.dswa.cache.json
/BackEnd/EG.Business/obj/Debug/net10.0/EG.Business.AssemblyInfo.cs
/BackEnd/EG.Business/obj/Debug/net10.0/EG.Business.AssemblyInfoInputs.cache
/BackEnd/EG.Business/obj/Debug/net10.0/EG.Business.csproj.AssemblyReference.cache
/BackEnd/EG.Business/obj/Debug/net10.0/EG.Business.dll
/BackEnd/EG.Business/obj/Debug/net10.0/EG.Business.pdb
/BackEnd/EG.Business/obj/Debug/net10.0/EG.Business.sourcelink.json
/BackEnd/EG.Infraestructure/bin/Debug/net10.0/EG.Domain.dll
/BackEnd/EG.Infraestructure/bin/Debug/net10.0/EG.Domain.pdb
/BackEnd/EG.Infraestructure/bin/Debug/net10.0/EG.Infraestructure.dll
/BackEnd/EG.Infraestructure/bin/Debug/net10.0/EG.Infraestructure.pdb
/BackEnd/EG.Infraestructure/obj/Debug/net10.0/ref/EG.Infraestructure.dll
/BackEnd/EG.Infraestructure/obj/Debug/net10.0/refint/EG.Infraestructure.dll
/BackEnd/EG.Domain/bin/Debug/net10.0/EG.Domain.dll
/BackEnd/EG.Domain/bin/Debug/net10.0/EG.Domain.pdb
/BackEnd/EG.Domain/obj/Debug/net10.0/EG.Domain.AssemblyInfo.cs
/BackEnd/EG.Domain/obj/Debug/net10.0/EG.Domain.AssemblyInfoInputs.cache
/BackEnd/EG.Domain/obj/Debug/net10.0/EG.Domain.dll
/BackEnd/EG.Domain/obj/Debug/net10.0/EG.Domain.pdb
/BackEnd/EG.Domain/obj/Debug/net10.0/EG.Domain.sourcelink.json
/BackEnd/EG.Domain/obj/Debug/net10.0/ref/EG.Domain.dll
/BackEnd/EG.Domain/obj/Debug/net10.0/refint/EG.Domain.dll
/BackEnd/EG.Infraestructure/obj/Debug/net10.0/EG.Infraestructure.AssemblyInfo.cs
/BackEnd/EG.Infraestructure/obj/Debug/net10.0/EG.Infraestructure.AssemblyInfoInputs.cache
/BackEnd/EG.Infraestructure/obj/Debug/net10.0/EG.Infraestructure.csproj.AssemblyReference.cache
/BackEnd/EG.Infraestructure/obj/Debug/net10.0/EG.Infraestructure.dll
/BackEnd/EG.Infraestructure/obj/Debug/net10.0/EG.Infraestructure.pdb
/BackEnd/EG.Infraestructure/obj/Debug/net10.0/EG.Infraestructure.sourcelink.json
/BackEnd/EG.ApiCore/bin/Debug/net10.0/EG.ApiCore.dll
/BackEnd/EG.ApiCore/bin/Debug/net10.0/EG.ApiCore.exe
/BackEnd/EG.ApiCore/bin/Debug/net10.0/EG.ApiCore.pdb
/BackEnd/EG.ApiCore/bin/Debug/net10.0/EG.Application.dll
/BackEnd/EG.ApiCore/bin/Debug/net10.0/EG.Application.pdb
/BackEnd/EG.ApiCore/bin/Debug/net10.0/EG.Business.dll
/BackEnd/EG.ApiCore/bin/Debug/net10.0/EG.Business.pdb
/BackEnd/EG.ApiCore/bin/Debug/net10.0/EG.Domain.dll
/BackEnd/EG.ApiCore/bin/Debug/net10.0/EG.Domain.pdb
/BackEnd/EG.ApiCore/bin/Debug/net10.0/EG.Infraestructure.dll
/BackEnd/EG.ApiCore/bin/Debug/net10.0/EG.Infraestructure.pdb
/BackEnd/EG.ApiCore/obj/Debug/net10.0/apphost.exe
/BackEnd/EG.ApiCore/obj/Debug/net10.0/EG.ApiCore.AssemblyInfo.cs
/BackEnd/EG.ApiCore/obj/Debug/net10.0/EG.ApiCore.AssemblyInfoInputs.cache
/BackEnd/EG.ApiCore/obj/Debug/net10.0/EG.ApiCore.csproj.AssemblyReference.cache
/BackEnd/EG.ApiCore/obj/Debug/net10.0/EG.ApiCore.dll
/BackEnd/EG.ApiCore/obj/Debug/net10.0/EG.ApiCore.pdb
/BackEnd/EG.ApiCore/obj/Debug/net10.0/EG.ApiCore.sourcelink.json
/BackEnd/EG.ApiCore/obj/Debug/net10.0/ref/EG.ApiCore.dll
/BackEnd/EG.ApiCore/obj/Debug/net10.0/refint/EG.ApiCore.dll
/BackEnd/EG.ApiCore/obj/Debug/net10.0/rjsmcshtml.dswa.cache.json
/BackEnd/EG.ApiCore/obj/Debug/net10.0/rjsmrazor.dswa.cache.json
/FrontEnd/EG.Web/obj/Debug/net10.0/EG.Web.AssemblyInfo.cs
/FrontEnd/EG.Web/obj/Debug/net10.0/EG.Web.AssemblyInfoInputs.cache
/FrontEnd/EG.Web/obj/Debug/net10.0/EG.Web.sourcelink.json
/FrontEnd/EG.Web/obj/Debug/net10.0/rpswa.dswa.cache.json
/BackEnd/EG.Infraestructure/obj/Debug/net10.0/ref/EG.Infraestructure.dll
/BackEnd/EG.Infraestructure/obj/Debug/net10.0/refint/EG.Infraestructure.dll
/BackEnd/EG.Infraestructure/obj/Debug/net10.0/EG.Infraestructure.AssemblyInfo.cs
/BackEnd/EG.Infraestructure/obj/Debug/net10.0/EG.Infraestructure.AssemblyInfoInputs.cache
/BackEnd/EG.Infraestructure/obj/Debug/net10.0/EG.Infraestructure.csproj.AssemblyReference.cache
/BackEnd/EG.Infraestructure/obj/Debug/net10.0/EG.Infraestructure.dll
/BackEnd/EG.Infraestructure/obj/Debug/net10.0/EG.Infraestructure.pdb
/BackEnd/EG.Infraestructure/obj/Debug/net10.0/EG.Infraestructure.sourcelink.json
/BackEnd/EG.Business/obj/Debug/net10.0/EG.Business.AssemblyInfo.cs
/BackEnd/EG.Business/obj/Debug/net10.0/EG.Business.AssemblyInfoInputs.cache
/BackEnd/EG.Business/obj/Debug/net10.0/EG.Business.csproj.AssemblyReference.cache
/BackEnd/EG.Business/obj/Debug/net10.0/EG.Business.dll
/BackEnd/EG.Business/obj/Debug/net10.0/EG.Business.pdb
/BackEnd/EG.Business/obj/Debug/net10.0/EG.Business.sourcelink.json
/BackEnd/EG.Business/obj/Debug/net10.0/ref/EG.Business.dll
/BackEnd/EG.Business/obj/Debug/net10.0/refint/EG.Business.dll
/BackEnd/EG.Domain/bin/Debug/net10.0/EG.Domain.dll
/BackEnd/EG.Domain/bin/Debug/net10.0/EG.Domain.pdb
/BackEnd/EG.Infraestructure/bin/Debug/net10.0/EG.Domain.dll
/BackEnd/EG.Infraestructure/bin/Debug/net10.0/EG.Domain.pdb
/BackEnd/EG.Infraestructure/bin/Debug/net10.0/EG.Infraestructure.dll
/BackEnd/EG.Infraestructure/bin/Debug/net10.0/EG.Infraestructure.pdb
/BackEnd/EG.Domain/obj/Debug/net10.0/EG.Domain.AssemblyInfo.cs
/BackEnd/EG.Domain/obj/Debug/net10.0/EG.Domain.AssemblyInfoInputs.cache
/BackEnd/EG.Domain/obj/Debug/net10.0/EG.Domain.dll
/BackEnd/EG.Domain/obj/Debug/net10.0/EG.Domain.pdb
/BackEnd/EG.Domain/obj/Debug/net10.0/EG.Domain.sourcelink.json
/BackEnd/EG.Domain/obj/Debug/net10.0/refint/EG.Domain.dll
/BackEnd/EG.Domain/obj/Debug/net10.0/ref/EG.Domain.dll
/BackEnd/EG.Application/obj/Debug/net10.0/ref/EG.Application.dll
/BackEnd/EG.Application/obj/Debug/net10.0/refint/EG.Application.dll
/BackEnd/EG.Application/obj/Debug/net10.0/EG.Application.AssemblyInfo.cs
/BackEnd/EG.Application/obj/Debug/net10.0/EG.Application.AssemblyInfoInputs.cache
/BackEnd/EG.Application/obj/Debug/net10.0/EG.Application.csproj.AssemblyReference.cache
/BackEnd/EG.Application/obj/Debug/net10.0/EG.Application.dll
/BackEnd/EG.Application/obj/Debug/net10.0/EG.Application.pdb
/BackEnd/EG.Application/obj/Debug/net10.0/EG.Application.sourcelink.json
/BackEnd/EG.Business/bin/Debug/net10.0/EG.Application.dll
/BackEnd/EG.Business/bin/Debug/net10.0/EG.Application.pdb
/BackEnd/EG.Business/bin/Debug/net10.0/EG.Business.dll
/BackEnd/EG.Business/bin/Debug/net10.0/EG.Business.pdb
/BackEnd/EG.Business/bin/Debug/net10.0/EG.Domain.dll
/BackEnd/EG.Business/bin/Debug/net10.0/EG.Domain.pdb
/BackEnd/EG.Application/bin/Debug/net10.0/EG.Application.dll
/BackEnd/EG.Application/bin/Debug/net10.0/EG.Application.pdb
/BackEnd/EG.Application/bin/Debug/net10.0/EG.Domain.dll
/BackEnd/EG.Application/bin/Debug/net10.0/EG.Domain.pdb
/.vs/EGestion360.slnx/v18/.futdcache.v2
/.vs/EGestion360.slnx/v18/DocumentLayout.backup.json
/.vs/EGestion360.slnx/v18/DocumentLayout.json
/.vs/EGestion360/CopilotIndices/18.4.79.19992/CodeChunks.db
/.vs/EGestion360/CopilotIndices/18.4.79.19992/SemanticSymbols.db
/.vs/EGestion360.slnx/copilot-chat/3e9044aa/sessions/9b5dec80-3cf5-4a4a-bf24-883aab7bd4d0
/.vs/EGestion360.slnx/v18/.suo
/BackEnd/EG.Business/obj/Debug/net10.0/EG.Business.csproj.CoreCompileInputs.cache
/BackEnd/EG.Domain/obj/Debug/net10.0/EG.Domain.csproj.CoreCompileInputs.cache
/FrontEnd/EG.Web/bin/Debug/net10.0/EG.Web.dll
/FrontEnd/EG.Web/bin/Debug/net10.0/EG.Web.pdb
/FrontEnd/EG.Web/bin/Debug/net10.0/EG.Web.staticwebassets.endpoints.json
/FrontEnd/EG.Web/bin/Debug/net10.0/EG.Web.staticwebassets.runtime.json
/FrontEnd/EG.Web/obj/Debug/net10.0/ref/EG.Web.dll
/FrontEnd/EG.Web/obj/Debug/net10.0/refint/EG.Web.dll
/FrontEnd/EG.Web/obj/Debug/net10.0/staticwebassets/htmlassetplaceholders/build/jhd4rndag8.html
/FrontEnd/EG.Web/obj/Debug/net10.0/webcil/EG.Web.wasm
/FrontEnd/EG.Web/obj/Debug/net10.0/dotnet.js
/FrontEnd/EG.Web/obj/Debug/net10.0/EG.Web.csproj.CoreCompileInputs.cache
/FrontEnd/EG.Web/obj/Debug/net10.0/EG.Web.csproj.FileListAbsolute.txt
/FrontEnd/EG.Web/obj/Debug/net10.0/EG.Web.dll
/FrontEnd/EG.Web/obj/Debug/net10.0/EG.Web.GeneratedMSBuildEditorConfig.editorconfig
/FrontEnd/EG.Web/obj/Debug/net10.0/EG.Web.pdb
/FrontEnd/EG.Web/obj/Debug/net10.0/rbcswa.dswa.cache.json
/FrontEnd/EG.Web/obj/Debug/net10.0/rjsmcshtml.dswa.cache.json
/FrontEnd/EG.Web/obj/Debug/net10.0/rjsmrazor.dswa.cache.json
/FrontEnd/EG.Web/obj/Debug/net10.0/staticwebassets.build.endpoints.json
/FrontEnd/EG.Web/obj/Debug/net10.0/staticwebassets.build.json
/FrontEnd/EG.Web/obj/Debug/net10.0/staticwebassets.build.json.cache
/FrontEnd/EG.Web/obj/Debug/net10.0/staticwebassets.development.json
/BackEnd/EG.ApiCore/bin/Debug/net10.0/EG.Common.dll
/BackEnd/EG.ApiCore/bin/Debug/net10.0/EG.Common.pdb
/BackEnd/EG.ApiCore/bin/Debug/net10.0/EG.Logger.dll
/BackEnd/EG.ApiCore/bin/Debug/net10.0/EG.Logger.pdb
/BackEnd/EG.Business/bin/Debug/net10.0/EG.Common.dll
/BackEnd/EG.Business/bin/Debug/net10.0/EG.Common.pdb
/BackEnd/EG.Common/bin/Debug/net10.0/EG.Common.dll
/BackEnd/EG.Common/bin/Debug/net10.0/EG.Common.pdb
/BackEnd/EG.Common/obj/Debug/net10.0/EG.Common.AssemblyInfo.cs
/BackEnd/EG.Common/obj/Debug/net10.0/EG.Common.AssemblyInfoInputs.cache
/BackEnd/EG.Common/obj/Debug/net10.0/EG.Common.dll
/BackEnd/EG.Common/obj/Debug/net10.0/EG.Common.pdb
/BackEnd/EG.Common/obj/Debug/net10.0/EG.Common.sourcelink.json
/BackEnd/EG.Common/obj/Debug/net10.0/ref/EG.Common.dll
/BackEnd/EG.Common/obj/Debug/net10.0/refint/EG.Common.dll
/BackEnd/EG.Domain/DTOs/Responses/General/UsuarioDto.cs
/BackEnd/EG.Infraestructure/bin/Debug/net10.0/EG.Common.dll
/BackEnd/EG.Infraestructure/bin/Debug/net10.0/EG.Common.pdb
/BackEnd/EG.Infraestructure/Models/AspNetClaim.cs
/BackEnd/EG.Logger/bin/Debug/net10.0/EG.Common.dll
/BackEnd/EG.Logger/bin/Debug/net10.0/EG.Common.pdb
/BackEnd/EG.Logger/bin/Debug/net10.0/EG.Logger.dll
/BackEnd/EG.Logger/bin/Debug/net10.0/EG.Logger.pdb
/BackEnd/EG.Logger/obj/Debug/net10.0/ref/EG.Logger.dll
/BackEnd/EG.Logger/obj/Debug/net10.0/refint/EG.Logger.dll
/FrontEnd/EG.Web/bin/Debug/net10.0/EG.Common.dll
/FrontEnd/EG.Web/bin/Debug/net10.0/EG.Common.pdb
/BackEnd/EG.Logger/obj/Debug/net10.0/EG.Logger.AssemblyInfo.cs
/BackEnd/EG.Logger/obj/Debug/net10.0/EG.Logger.AssemblyInfoInputs.cache
/BackEnd/EG.Logger/obj/Debug/net10.0/EG.Logger.csproj.AssemblyReference.cache
/BackEnd/EG.Logger/obj/Debug/net10.0/EG.Logger.dll
/BackEnd/EG.Logger/obj/Debug/net10.0/EG.Logger.pdb
/BackEnd/EG.Logger/obj/Debug/net10.0/EG.Logger.sourcelink.json
/FrontEnd/EG.Web/obj/Debug/net10.0/EG.Web.csproj.AssemblyReference.cache
/FrontEnd/EG.Web/obj/Debug/net10.0/webcil/EG.Common.wasm
/.vs/EGestion360/CopilotIndices/18.3.502.33069/CodeChunks.db
/.vs/EGestion360/CopilotIndices/18.3.502.33069/CodeChunks.db-shm
/.vs/EGestion360/CopilotIndices/18.3.502.33069/CodeChunks.db-wal
/.vs/EGestion360/CopilotIndices/18.3.502.33069/SemanticSymbols.db
/.vs/EGestion360/CopilotIndices/18.3.502.33069/SemanticSymbols.db-shm
/.vs/EGestion360/CopilotIndices/18.3.502.33069/SemanticSymbols.db-wal
/BackEnd/EG.ApiCore/obj/Debug/net10.0/ApiEndpoints.json
/BackEnd/EG.ApiCore/obj/Debug/net10.0/EG.ApiCore.assets.cache
/BackEnd/EG.ApiCore/obj/Debug/net10.0/EG.ApiCore.csproj.CoreCompileInputs.cache
/BackEnd/EG.ApiCore/obj/Debug/net10.0/EG.ApiCore.csproj.FileListAbsolute.txt
/BackEnd/EG.ApiCore/obj/Debug/net10.0/EndpointInfo/EG.ApiCore.json
/BackEnd/EG.ApiCore/obj/EG.ApiCore.csproj.nuget.dgspec.json
/BackEnd/EG.ApiCore/obj/project.assets.json
/BackEnd/EG.ApiCore/obj/project.nuget.cache
/BackEnd/EG.Application/obj/Debug/net10.0/EG.Application.assets.cache
/BackEnd/EG.Application/obj/Debug/net10.0/EG.Application.csproj.CoreCompileInputs.cache
/BackEnd/EG.Application/obj/EG.Application.csproj.nuget.dgspec.json
/BackEnd/EG.Application/obj/project.assets.json
/BackEnd/EG.Application/obj/project.nuget.cache
/BackEnd/EG.Business/obj/Debug/net10.0/EG.Business.assets.cache
/BackEnd/EG.Business/obj/EG.Business.csproj.nuget.dgspec.json
/BackEnd/EG.Business/obj/project.assets.json
/BackEnd/EG.Business/obj/project.nuget.cache
/BackEnd/EG.Common/obj/Debug/net10.0/EG.Common.assets.cache
/BackEnd/EG.Common/obj/Debug/net10.0/EG.Common.csproj.CoreCompileInputs.cache
/BackEnd/EG.Common/obj/EG.Common.csproj.nuget.dgspec.json
/BackEnd/EG.Common/obj/project.assets.json
/BackEnd/EG.Common/obj/project.nuget.cache
/BackEnd/EG.Domain/obj/Debug/net10.0/EG.Domain.assets.cache
/BackEnd/EG.Domain/obj/EG.Domain.csproj.nuget.dgspec.json
/BackEnd/EG.Domain/obj/project.assets.json
/BackEnd/EG.Domain/obj/project.nuget.cache
/BackEnd/EG.Infraestructure/efpt.config.json
/BackEnd/EG.Infraestructure/obj/Debug/net10.0/EG.Infraestructure.assets.cache
/BackEnd/EG.Infraestructure/obj/Debug/net10.0/EG.Infraestructure.csproj.CoreCompileInputs.cache
/BackEnd/EG.Infraestructure/obj/EG.Infraestructure.csproj.nuget.dgspec.json
/BackEnd/EG.Infraestructure/obj/project.assets.json
/BackEnd/EG.Infraestructure/obj/project.nuget.cache
/BackEnd/EG.Logger/obj/Debug/net10.0/EG.Logger.assets.cache
/BackEnd/EG.Logger/obj/Debug/net10.0/EG.Logger.csproj.CoreCompileInputs.cache
/BackEnd/EG.Logger/obj/EG.Logger.csproj.nuget.dgspec.json
/BackEnd/EG.Logger/obj/project.assets.json
/BackEnd/EG.Logger/obj/project.nuget.cache
/FrontEnd/EG.Web/bin/Debug/net10.0/Microsoft.DotNet.HotReload.WebAssembly.Browser.dll
/FrontEnd/EG.Web/obj/Debug/net10.0/EG.Web.assets.cache
/FrontEnd/EG.Web/obj/Debug/net10.0/webcil/Microsoft.DotNet.HotReload.WebAssembly.Browser.wasm
/FrontEnd/EG.Web/obj/EG.Web.csproj.nuget.dgspec.json
/FrontEnd/EG.Web/obj/EG.Web.csproj.nuget.g.props
/FrontEnd/EG.Web/obj/EG.Web.csproj.nuget.g.targets
/FrontEnd/EG.Web/obj/project.assets.json
/FrontEnd/EG.Web/obj/project.nuget.cache
/FrontEnd/EG.Web/obj/Debug/net10.0/rjimswa.dswa.cache.json
/.vs/CopilotSnapshots/158B8C59E9F48B4C9E9CE7FA7EBE8C11/86E80B69B3DFBD4DB88506CAC71FD187/3C4246D2CA28DB574FFDCD079DDDCCBE
/.vs/CopilotSnapshots/158B8C59E9F48B4C9E9CE7FA7EBE8C11/state.mpack
/.vs/CopilotSnapshots/B4B543BC05162847BC99124D68030E10/B51CD980AB736A4A99A18AA8BB5AE029/3C4246D2CA28DB574FFDCD079DDDCCBE
/.vs/CopilotSnapshots/B4B543BC05162847BC99124D68030E10/state.mpack
/FrontEnd/EG.Web/obj/Debug/net10.0/staticwebassets.upToDateCheck.txt
/.vs/EGestion360/CopilotIndices/18.3.508.13148/CodeChunks.db
/.vs/EGestion360/CopilotIndices/18.3.508.13148/CodeChunks.db-shm
/.vs/EGestion360/CopilotIndices/18.3.508.13148/CodeChunks.db-wal
/.vs/EGestion360/CopilotIndices/18.3.508.13148/SemanticSymbols.db
/.vs/EGestion360/CopilotIndices/18.3.508.13148/SemanticSymbols.db-shm
/.vs/EGestion360/CopilotIndices/18.3.508.13148/SemanticSymbols.db-wal
*.txt
/FrontEnd/EG.Web/bin/Debug/net10.0/dotnet.js
/FrontEnd/EG.Web/bin/Debug/net10.0/dotnet.native.js
/FrontEnd/EG.Web/bin/Debug/net10.0/dotnet.runtime.js
/FrontEnd/EG.Web/bin/Debug/net10.0/wwwroot/_framework/blazor.webassembly.66stpp682q.js
/FrontEnd/EG.Web/obj/Debug/net10.0/scopedcss/Layout/MainLayout.razor.rz.scp.css
/FrontEnd/EG.Web/obj/Debug/net10.0/scopedcss/Layout/NavMenu.razor.rz.scp.css
