################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/EGestion360.slnx/FileContentIndex/fc6f540a-6c6c-4429-b00f-f0491ec0dc29.vsidx
/.vs/ProjectEvaluation
/.vs/EGestion360.slnx/FileContentIndex
/.vs/EGestion360.slnx/DesignTimeBuild
