

---
--- CREATE PROCEDURE: LoginInformationEmployee
---
-- =============================================
-- Author:	Tomas Reyes
-- Create date: 2018-05-15
-- Description:	Get information to validate the login
--exec [SIS].[LoginInformationEmployee] 'eliseo_eae@htomail.com','UOxg2B7HCZwZZ/drSkwHrA=='
--exec [SIS].[LoginInformationEmployee] 'eliseo_eae@htomail.com'
--exec [SIS].[LoginInformationEmployee] 'admon01'
-- =============================================
CREATE OR ALTER   PROCEDURE [SIS].[LoginInformationEmployee](
	@PayrollID NVARCHAR(60)
)
AS BEGIN
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
	SET NOCOUNT ON;
	
	SELECT e.PkIdUsuario, e.FKIdPersona_NOM FKIdPersonaNOM, e.PayrollID, e.Gafete, ANU.PasswordHash, rol.Name, e.Email, NombreUsuario = CONCAT(e.Nombre, ' ', e.ApellidoPaterno, ' ', e.ApellidoMaterno)
	FROM SIS.Usuario AS e WITH (NOLOCK)
	INNER JOIN 	dbo.AspNetUsers AS ANU WITH (NOLOCK) ON ANU.PkIdUsuario = e.PkIdUsuario
	INNER JOIN [dbo].[AspNetUserRoles] AS UR WITH (NOLOCK) ON UR.UserId = ANU.Id
	INNER JOIN AspNetRoles AS rol WITH (NOLOCK)	ON UR.RoleId = rol.Id
	WHERE e.PayrollID = @PayrollID AND e.Activo = 1--and ANU.PasswordHash = @Pass
END;


