
---
--- CREATE PROCEDURE: exec [SIS].[spGetClaimsByUser] 1
--update AspNetUserRoles set ExpireDate = dateadd(m,3,GETDATE())
---exec [SIS].[spGetClaimsByUser] 1
CREATE OR ALTER   PROCEDURE [SIS].[spGetClaimsByUser]
    @PkIdUser INT, 
    @EsParaLogin BIT = 0
AS
BEGIN
    SELECT DISTINCT 
        ANC.[Group], 
        ANC.SubGroup, 
        --CV.Value
        ANC.[Values]
    FROM SIS.Usuario AS U (NOLOCK)
    INNER JOIN dbo.AspNetUsers AS ANU (NOLOCK) ON U.PkIdUsuario = ANU.PkIdUsuario
    INNER JOIN dbo.AspNetUserRoles AS ANUR (NOLOCK) ON ANUR.UserId = ANU.Id
    INNER JOIN dbo.AspNetRoles AS R (NOLOCK) ON R.Id = ANUR.RoleId
    INNER JOIN dbo.AspNetClaims AS ANC (NOLOCK) ON ANC.RoleId = R.Id 
    --INNER JOIN dbo.AspNetClaimValues AS CV (NOLOCK) ON CV.ClaimId = ANC.Id
    INNER JOIN SIS.MenuRole AS MR (NOLOCK) ON MR.RoleId = R.Id
    INNER JOIN SIS.Menu AS M (NOLOCK) ON M.PKIdMenu = MR.FKIdMenu_SIS
    WHERE U.PkIdUsuario = @PkIdUser 
      AND U.Activo = 1
      AND M.Activo = 1   -- Solo menús activos
    ORDER BY ANC.[Group], ANC.SubGroup, ANC.[Values];
END

