-- =============================================
-- Author:      R Ortega
-- Create date: 2025-02-09
-- Description: Llena la tabla de ALMA.Conteo.
--   Si @P_Partida = NULL -> Conteo general (capítulo 20000).
--   En caso contrario, solo la partida indicada.
-- Execucion: EXEC [ALMA].[SP_CargaInicialConteo]
-- =============================================
CREATE OR ALTER PROCEDURE [ALMA].[SP_CargaInicialConteo]
    @P_Partida INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ResultJson NVARCHAR(MAX);
    DECLARE @ErrorMessage NVARCHAR(4000);
    DECLARE @ErrorSeverity INT;
    DECLARE @ErrorState INT;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Limpiar conteos anteriores (primero el detalle, luego el encabezado)
        DELETE FROM [ALMA].[ConteoDetalle];
        DELETE FROM [ALMA].[Conteo];

        IF @P_Partida IS NULL
        BEGIN
            -- Llenar existencias de todas las partidas del capítulo 20000 (20001 a 29999)
            INSERT INTO [ALMA].[Conteo]
                ([FKIdTipoBien_ALMA]
                ,[CantidadInventario]
                ,[Descripcion]
                ,[FechaInicio]
                ,[Activo]
                ,[FechaCreacion]
                ,[UsuarioCreacion])
            SELECT
                CI.PKIdTipoBien,
                CI.Existencias,
                CI.Descripcion,
                GETDATE(),
                1,                     -- Activo
                GETDATE(),             -- FechaCreacion
                1                      -- UsuarioCreacion (se puede parametrizar después)
            FROM
                [ALMA].[VW_Existencias] CI
                INNER JOIN [ALMA].[TipoBien] TB ON CI.PKIdTipoBien = TB.[PKIdTipoBien]
            WHERE
                TB.[FKIdPartida_CONTA] > 20000
                AND TB.[FKIdPartida_CONTA] < 30000
                AND TB.[Activo] = 1;
        END
        ELSE
        BEGIN
            -- Validar que la partida esté dentro del capítulo 20000 (20001 a 29999)
            IF @P_Partida <= 20000 OR @P_Partida >= 30000
            BEGIN
                -- No se realizó ninguna operación, no hay transacción activa, solo retornar error
                SET @ResultJson = '{"tipo":"ERROR","mensaje":"Solo se permiten conteos del capítulo 20000. Partida no permitida: ' + CAST(@P_Partida AS NVARCHAR) + '","liga":""}';
                SELECT JSON_QUERY(@ResultJson) AS ResultJson;
                RETURN;
            END

            -- Llenar solo la partida especificada
            INSERT INTO [ALMA].[Conteo]
                ([FKIdTipoBien_ALMA]
                ,[CantidadInventario]
                ,[Descripcion]
                ,[FechaInicio]
                ,[Activo]
                ,[FechaCreacion]
                ,[UsuarioCreacion])
            SELECT
                CI.PKIdTipoBien,
                CI.Existencias,
                CI.Descripcion,
                GETDATE(),
                1,
                GETDATE(),
                1
            FROM
                [ALMA].[VW_Existencias] CI
                INNER JOIN [ALMA].[TipoBien] TB ON CI.PKIdTipoBien = TB.[PKIdTipoBien]
            WHERE
                TB.[FKIdPartida_CONTA] = @P_Partida
                AND TB.[Activo] = 1;
        END

        -- Si llegamos aquí, todo salió bien
        COMMIT TRANSACTION;

        -- Construir mensaje de éxito
        SET @ResultJson = '{"tipo":"EXITO","mensaje":"Conteo generado correctamente","liga":""}';
        SELECT JSON_QUERY(@ResultJson) AS ResultJson;

    END TRY
    BEGIN CATCH
        -- Si hay error, deshacer transacción (si está activa)
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        -- Obtener información del error
        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        -- Construir mensaje de error en JSON (escapar comillas dobles)
        SET @ResultJson = '{"tipo":"ERROR","mensaje":"' + REPLACE(@ErrorMessage, '"', '\"') + '","liga":""}';
        SELECT JSON_QUERY(@ResultJson) AS ResultJson;

        -- Opcional: lanzar el error nuevamente si se quiere propagar
        -- RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO