---
--- CREATE PROCEDURE: exec [SIS].[spGetClaimsByUser] 1
--update AspNetUserRoles set ExpireDate = dateadd(m,3,GETDATE())
---
CREATE OR ALTER PROCEDURE [SIS].[spGetClaimsByUser]
		@PkIdUser INT
AS
SELECT ANC.[Group], ANC.SubGroup, ANC.[Values] 
	FROM  SIS.Usuario AS U (NOLOCK)
	INNER JOIN dbo.AspNetUsers AS ANU (NOLOCK) ON U.PkIdUsuario = ANU.PkIdUsuario
	INNER JOIN dbo.AspNetUserRoles AS ANUR (NOLOCK) ON ANUR.UserId = ANU.Id
	INNER JOIN dbo.AspNetClaims AS ANC (NOLOCK) ON  ANC.RoleId = ANUR.RoleId
	WHERE U.PkIdUsuario = @PkIdUser AND U.Activo = 1
	GROUP BY ANC.[Group], ANC.SubGroup, ANC.[Values]



